body{
    margin:0px;
    box-sizing: border-box;

}

/*--------------------Header--------------------*/
header{
    display: flex;
    flex-flow: column;
    font-size: 16px;
    letter-spacing: 1px;
}

.read_impact{
    display: flex;
    background-color: white;
    height:50px;
    align-items: center;
    justify-content: center;
}
.read_impact a{
    color: black;
}

nav ul, nav li, nav li a{
    text-decoration: none;
    list-style: none;
    color: black;
}

.menu{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: fixed;
    left: 0px;
    top: 50px;
    right: 0px;
  
}

.logo{
    display: flex;
    align-items: center;
    transform: scale(0.4);
    
}

.logo img{
  margin-left: -50px;
}

.central{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.central a{
    padding-right: 33px;
}

.central li:first-child{
    padding-left: 10px;
}

.lateral{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.lateral li:last-child{
    padding-right: 30px;
}

.lateral a {
    padding: 20px;
}



/*--------------------Section--------------------*/
.main{
    background-image:url('../images/bg.jpg');
    background-position:center;
	background-size:cover;
    height:calc(100vh - 50px);
}

.geral{
    display: flex;
    flex-direction: column;
}

.car_description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.car_description h1{
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 0px;
}
.car_description h2{
    font-size: 16px;
    margin-top: 5px;
    color: #888;
}

.car_description a{
   color: #888;
}


/*--------------------Footer--------------------*/
footer{
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 30px;
}


.botoes {
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.botoes a{
    text-decoration: none;
}

.button{
    width: 220px;
    border-radius:30px;
    background-color: rgb(211, 206, 206);
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 13px;
    letter-spacing: 1px;
    margin:0 20px;
}

.button:first-child{
    background-color: rgb(34, 29, 29);
    color: white;
}


.seta{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 30px;
}



@keyframes descer{
    0%{margin-top: 0px;}
    20%{margin-top: 5px;}
    40%{margin-top: 10px;}
    60%{margin-top: 5px;}
    80%{margin-top: 0px;}
    100%{margin-top: 0px;}
}

.seta img{
    height: 15px;
    animation-name: descer;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
