body{
    margin:0px;
    box-sizing: border-box;
    height: 0px;
}

/*--------------------Header--------------------*/
header{
    display: flex;
    flex-flow: column;
    font-size: 16px;
    letter-spacing: 1px;
}

.read_impact{
    display: flex;
    background-color: white;
    height:50px;
    align-items: center;
    justify-content: center;
}
.read_impact a{
    color: black;
}

nav ul, nav li, nav li a{
    text-decoration: none;
    list-style: none;
    color: black;
}

.menu{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  
}

.logo{
    display: flex;
    align-items: center;
    transform: scale(0.4);
    
}

.logo img{
  margin-left: -50px;
}

.central{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.central a{
    padding-right: 33px;
}

.central li:first-child{
    padding-left: 10px;
}

.lateral{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.lateral li:last-child{
    padding-right: 30px;
}

.lateral a {
    padding: 20px;
}



/*--------------------Section--------------------*/
.banner{
    background-image:url('../images/bg.jpg');
    background-position:center;
	background-size:cover;
    height:575px;
}


.geral{
    display: flex;
    flex-direction: column;
}



.car_description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.car_description h1{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.car_description h2{
    font-size: 16px;
    margin-top: 5px;
    color: #888;
}

.car_description a{
   color: #888;
}





.botoes {
    display: flex;
    justify-content: center;
}

.botoes a{
    text-decoration: none;
}

.button{
    border-radius:120px;
    margin-top: 300px;
    background-color: rgb(211, 206, 206);
    text-transform: uppercase;
    color: black;
    text-align: center;
    font-size: 13px;
    padding-top:11px;
    padding-bottom:11px;
    padding-left: 50px;
    padding-right: 50px;
    letter-spacing: 1px;
}

.button:first-child{
    background-color: rgb(34, 29, 29);
    color: white;
    padding-left: 78px;
    padding-right: 78px;
    margin-right: 40px;
}


footer{
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.seta img{
    transform: scale(0.5);
}

@keyframes descer{
    0%{top: 580px; left: 680px}
    20%{top: 585px; left: 680px}
    40%{top: 580px; left: 680px}
    60%{top: 582px; left: 680px}
    80%{top: 580px; left: 680px}
    100%{top: 580px; left: 680px}
}

.seta img{
    position: absolute;
    animation-name: descer;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}